.btn-orange {
    background-color: #dc770b;
    color:  white;
    padding:  15px 20px;
    border-radius:  4px;
    font-size: 25px;
    display: block;
    width: 600px;
    max-width: 90%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    box-shadow: 22px 20px 28px -7px rgba(179,103,19,0.16);
    -webkit-box-shadow: 22px 20px 28px -7px rgba(179,103,19,0.16);
    -moz-box-shadow: 22px 20px 28px -7px rgba(179,103,19,0.16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn-orange:hover { 
    background-color:  #6B72E1;
    color:  white;
}

.btn-top-margin {
    margin-top: 100px;
}